body {
    background-color: #0d1117;
    margin: 0;
    margin-top: 100px;
}
#start {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0d1117;
}
#window {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 200px;
    margin-top: 200px;
    text-align: center;
    font-size: xx-large;
    color: #c9d1d9;
    font-family: monospace;
}
input {
    height: 40px;
    background-color: #161b22;
    font-size: x-large;
    font-family: monospace;
    color: #c9d1d9;
}
#board {
    display: grid;
    grid-template-columns: 133px 133px 133px;
    grid-template-rows: 133px 133px 133px;
    background-color: #161b22;
    margin: auto;
    height: 399px;
    width: 399px;
}
.square {
    border: solid #30363d;
}
.marker {
    font-family: 'Trebuchet MS';
    position: relative;
    bottom: 18px;
    font-size: 140px;
    text-align: center;
}
.O {
    color: rgb(46, 46, 228);
}
.X {
    color: rgb(190, 41, 41);
}
#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    text-align: center;
    color: #c9d1d9;
}
#score {
    display: flex;
    width: 380px;
    font-size: x-large;
    font-family: monospace;
    margin: auto;
    flex-direction: row;
    justify-content: space-between;
    
}
.playerscore {
    font-size: 50px;
}
#gamestate {
    margin-top: 30px;
    font-family: monospace;
    font-size: xx-large;
}
#restart {
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 30px;
    padding: 12px;
    background-color: #30363d;
    border: none;
    border-radius: 10px;
    color: #c9d1d9;
    font-family: monospace;

}
